<form [formGroup]= "addressForm" novalidate (ngSubmit)= "onAgregar()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Agregar entrenos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Id Entrenador" formControlName="id_entrenador">
            <mat-error *ngIf= "addressForm.controls['id_entrenador'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Id rutinas" formControlName="id_rutinas">
            <mat-error *ngIf= "addressForm.controls['id_rutinas'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder= "Id persona" formControlName="id_persona">
            <mat-error *ngIf= "addressForm.controls['id_persona'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <button mat-raised-button color="primary" type="submit" [disabled]= "addressForm.invalid">Agregar</button>
      <button mat-raised-button color="primary" routerLink="/entrenos" >Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>
