<form [formGroup]="addressForm" novalidate (ngSubmit)="onActualizar()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Modificar Estudiante Curso</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="estudianteCurso.id_estudiante" placeholder="Id Estudiante" formControlName="id_estudiante">
            <mat-error *ngIf="addressForm.controls['id_estudiante'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="estudianteCurso.id_curso" placeholder="Id Curso" formControlName="id_curso">
            <mat-error *ngIf="addressForm.controls['id_curso'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="estudianteCurso.status" placeholder="Status" formControlName="status">
            <mat-error *ngIf="addressForm.controls['status'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="estudianteCurso.fecha_inicio" placeholder="Fecha Inicio" formControlName="fecha_inicio">
            <mat-error *ngIf="addressForm.controls['fecha_inicio'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="estudianteCurso.fecha_fin" placeholder="Fecha Fin" formControlName="fecha_fin">
            <mat-error *ngIf="addressForm.controls['fecha_fin'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <button mat-raised-button color="primary" type="submit" [disabled]="addressForm.invalid">Guardar</button>
      <button mat-raised-button color="primary" routerLink="/estudiante-curso" >Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>
