<form [formGroup]="form" novalidate (ngSubmit)="onAgregar()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Agregar Personas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="nombre">
            <mat-error *ngIf="form.controls['nombre'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido" formControlName="Apellido">
            <mat-error *ngIf="form.controls['Apellido'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="edad" formControlName="edad">
            <mat-error *ngIf="form.controls['edad'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Agregar</button>
      <button mat-raised-button color="primary" routerLink="/personas" >Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>
