<form [formGroup]="addressForm" novalidate (ngSubmit)="onLogin()">
  <mat-card class="mat_card" style="background-color:rgb(229, 233, 243);">
    <img src="../../../assets/img/bloquear.png" width="50%">
    <mat-card-content>
      <h2>Login</h2>
      <div class="row">
        <div class="col">
          <mat-form-field class="mat-form-field">
            <input type ="text" [(ngModel)]="usuario.userName" matInput placeholder="Usuario" formControlName="userName" required autofocus>
            <mat-error *ngIf="addressForm.controls['userName'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="mat-form-field">
            <input type ="password" [(ngModel)]="usuario.password" matInput placeholder="Contraseña" formControlName="password" required >
            <mat-error *ngIf="addressForm.controls['password'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled] = "addressForm.invalid" type="submit" >Ingresar</button>
    </mat-card-actions>
  </mat-card>
</form>
