<form [formGroup]="form" novalidate (ngSubmit)="onActualizar()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Actualizar Maestros</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="docente.id_persona" placeholder="Id Persona" formControlName="id_persona">
            <mat-error *ngIf="form.controls['id_persona'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="docente.fecha_ingreso" placeholder="Fecha Ingreso" formControlName="fecha_ingreso">
            <mat-error *ngIf="form.controls['fecha_ingreso'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Guardar</button>
      <button mat-raised-button color="primary" routerLink="/docentes" >Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>

