<form [formGroup]="addressForm" novalidate (ngSubmit)="onActualizar()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Actualizar Docente Curso</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="docenteCurso.id_docente" placeholder="Id Docente" formControlName="id_docente">
            <mat-error *ngIf="addressForm.controls['id_docente'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="docenteCurso.id_curso" placeholder="Id Curso" formControlName="id_curso">
            <mat-error *ngIf="addressForm.controls['id_curso'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="docenteCurso.stauts" placeholder="Status" formControlName="stauts">
            <mat-error *ngIf="addressForm.controls['stauts'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="docenteCurso.fecha_inicio" placeholder="Fecha Inicio" formControlName="fecha_inicio">
            <mat-error *ngIf="addressForm.controls['fecha_inicio'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="docenteCurso.id_docente" placeholder="Fecha Fin" formControlName="fecha_fin">
            <mat-error *ngIf="addressForm.controls['fecha_fin'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <button mat-raised-button color="primary" type="submit" [disabled]="addressForm.invalid">Guardar</button>
      <button mat-raised-button color="primary" routerLink="/docente-curso">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>
