<form [formGroup]="addressForm" novalidate (ngSubmit)="onActualizar()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Actualizar Cursos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="curso.nombre" placeholder="Nombre" formControlName="nombre">
            <mat-error *ngIf="addressForm.controls['nombre'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="curso.descripcion" placeholder="Descripcion" formControlName="descripcion">
            <mat-error *ngIf="addressForm.controls['descripcion'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <button mat-raised-button color="primary" type="submit" [disabled]="addressForm.invalid">Guardar</button>
      <button mat-raised-button color="primary" routerLink="/cursos">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>
