<form [formGroup]= "form" novalidate (ngSubmit)= "onActualizar()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Actualizar cliente</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]= "cliente.id_persona" placeholder="id_persona" formControlName="id_persona">
            <mat-error *ngIf= "form.controls['id_persona'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]= "cliente.id_rutina" placeholder="id_rutina" formControlName="id_rutina">
            <mat-error *ngIf= "form.controls['id_rutina'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-ms-6">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]= "cliente.id_entrenos" placeholder="id_entrenos" formControlName="id_entrenos">
            <mat-error *ngIf= "form.controls['id_entrenos'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

      <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]= "cliente.id_dieta" placeholder="id_dieta" formControlName="id_dieta">
            <mat-error *ngIf= "form.controls['id_dieta'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]= "cliente.status" placeholder="status" formControlName="status">
            <mat-error *ngIf="form.controls['status'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>



    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <button mat-raised-button color="primary" type="submit" [disabled]= "form.invalid">Guardar</button>
      <button mat-raised-button color="primary" routerLink="/cliente" >Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>
