<form [formGroup]="form" novalidate (ngSubmit)="onActualizar()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Actualizar Personas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="persona.nombre" placeholder="Nombre" formControlName="nombre">
            <mat-error *ngIf="form.controls['nombre'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="persona.apellido" placeholder="Apellido" formControlName="apellido">
            <mat-error *ngIf="form.controls['apellido'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="persona.fecha_nacimiento" placeholder="Fecha Nacimiento" formControlName="fecha_nacimiento" >
            <mat-error *ngIf="form.controls['fecha_nacimiento'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="persona.Direccion" placeholder="Direccion" formControlName="Direccion">
            <mat-error *ngIf="form.controls['Direccion'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Guardar</button>
      <button mat-raised-button color="primary" routerLink="/personas" >Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>
